/* ====================================================
    02. Revolution Slider
==================================================== */
/* Revslider arrow */
div.tparrows {
  background: transparent;
  border-radius: 100%;
  border: 1px solid $color-four;
  width: 50px;
  height: 50px;
 &.tp-leftarrow:before {
      color: $color-four;
      font-size: 20px;
      line-height: 50px;
    }
 &.tp-rightarrow:before {
      color: $color-four;
      font-size: 20px;
      line-height: 50px;
    }
 &:hover{
      border: 1px solid $color-five;
      background: transparent;
     .tp-rightarrow:before{
        color: $color-five; 
     }
     .tp-leftarrow:before{
      @extend .tp-rightarrow:before; 
     }
    }    
}

/* Revslider bullet */

.tp-bullet {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,0.15);
  border-radius: 50%;
  border: 1px solid transparent;
    &.selected{
      background: $theme-primary-color!important;
      border: 1px solid rgba(255,255,255,0.15)!important;  
    }    
}
.tp-bullet:hover {
  @extend .selected;
}

/* overlay */

.overlay-dark {
    background-color: rgba(28, 32, 37, 0.92);
}
.overlay-color {
    background: rgba(212, 6, 42, 0.92);
    background: linear-gradient(45deg, rgba(212, 6, 42, 0.92) 1%, rgba(242, 68, 10, 0.92) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(212,6,42,0.92)', endColorstr='rgba(242,68,10,0.92)',GradientType=1 );
}

.overlay-dual-dark {
    background: -webkit-gradient(linear, left top, right top, from(rgba(234, 237, 246, 0.92)), color-stop(50%, rgba(234, 237, 246, 0.92)), color-stop(50%, #1c2025), to(#1c2025));
    background: linear-gradient(to right, rgba(234, 237, 246, 0.92) 0%, rgba(234, 237, 246, 0.92) 50%, #1c2025 50%, #1c2025 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeaedf6', endColorstr='#1c2025',GradientType=1 );
}
