/*--------------------------------------------------------------
#0.1    Theme Reset Style
--------------------------------------------------------------*/
html {
    font-size: $base-font-size + px;
}

body {
    font-family: $base-font;
    background-color: $body-bg-color;
    font-size: 15px;
    font-size: calc-rem-value(15);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    @include media-query( 767px ) {
        font-size: 14px;
    }
}

/* paragraph */
p {
    color: $text-color;
    line-height: 1.8em;
    margin: 0 0 30px;
    font-weight: 400;
}

div p:last-child {
  margin-bottom: 0; 
}

/* headings */   
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $heading-color;
  font-family: $heading-font;
  margin: 0 0 25px;
  padding: 0;
  letter-spacing: 0px;
  font-weight: 400;
  text-transform: capitalize; 
}

h1 {
  font-size: 68px;
  line-height: 68px; }

h2 {
  font-size: 56px;
  line-height: 58px; }

h3 {
  font-size: 46px;
  line-height: 52px; }

h4 {
  font-size: 38px;
  line-height: 44px; }

h5 {
  font-size: 30px;
  line-height: 36px; }

h6 {
  font-size: 22px;
  line-height: 28px; }


ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

/* links */
a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: none !important;
  text-transform: capitalize;
  color: $theme-primary-color }

a {
  @include transition-time(0.2s);
  color: $color-five; 
}


/* image */
img {
  max-width: 100%;
  width: inherit; 
}



/* ====================================================
   #0.2 Preloader Styles
=======================================================*/

.preloader-area {
  background: #EAEDF6;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999; }

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  background-color:$theme-primary-color;
  border-radius: 50%;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-left: -30px;
  margin-top: -30px;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }



/*--------------------------------------------------------------
#0.3    Global Elements
--------------------------------------------------------------*/

@include widther(1400px){
    .container{
        width: 1350px;
        max-width: 100%;
    }  
}

.page-wrapper {
    position: relative;
    overflow: hidden;
}

.section-padding {
    padding: 100px 0;

    @include media-query(991px) {
        padding: 90px 0;
    }

    @include media-query(767px) {
        padding: 80px 0;
    }
}

.pb0 {
    padding-bottom: 0 !important;
}


/*** contact form error handling ***/
.contact-validation-active {
    .error-handling-messages {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 0;
        clear: both;
    }

    label.error {
        color: red !important;
        font-size: calc-rem-value(14);
        font-weight: normal;
        margin: 5px 0 0 0;
    }

    #loader,
    #loader-2 {
        display: none;
        margin-top: 10px;
    }

    #success,
    #success-2,
    #error,
    #error-2 {
        width: 100%;
        color: $white;
        padding: 5px 10px;
        font-size: 16px;
        text-align: center;
        display: none;

        @include media-query(767px)  {
            font-size: 15px;
        }
    }

    #success,
    #success-2 {
        background-color: lighten(green, 5%);
        border-left: 5px solid green;
        margin-bottom: 5px;
    }

    #error,
    #error-2 {
        background-color: lighten(red, 5%);
        border-left: 5px solid red;
    }

    #loader {
        text-align: center;
        color: #fff;
        font-size: 8px;
        font-size: calc-rem-value(8);
    }
}


/*** back to top **/
.back-to-top {
    background-color: transparentize($theme-primary-color, 0.1);
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: 15px;
    @include transition-time(0.2s);
    @include rounded-border(3px);

    @include media-query(991px) {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    &:hover {
        background-color: $theme-primary-color;
    }
}

.back-to-top i {
    font-size: 18px;
    font-size: calc-rem-value(18);
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    @include center-by-translating();
}
